<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="com.astra.ses.spell.gui.extensions.ShellManager"
         name="Shell Manager implementation"
         point="com.astra.ses.spell.gui.extensions.ShellManager">
      <manager
            class="com.astra.ses.spell.gui.core.shell.services.ShellManager"
            name="com.astra.ses.spell.gui.shell">
      </manager>
   </extension>


</plugin>
