<config>

    <common>
        <property name="Log">ENABLED</property>
        <property name="LogDetail">PROC</property>
        <property name="IpcPingPeriod">120</property>
    </common>

    <language>
        <file>language.xml</file>
    </language>

    <listener>
        <property name="ListenerPort">9988</property>
        <property name="ContextScript">server/context/context.py</property>
    </listener>
    
    <context>
        <property name="ProcPropertiesSL">PROCEDURE,NAME,AUTHOR,FILE,DATE,SPACECRAFT,DATABASE,CATEGORY,VALIDATED,APPROVED</property>
        <property name="ProcPropertiesML">DESCRIPTION,HISTORY</property>
        <property name="ExecutorScript">server/executor/executor.py</property>
    </context>

    <executor>
        <property name="ExecDelay">0</property>
        <property name="RunInto">False</property>
    </executor>

    <drivers>
        <driver>driver_std.xml</driver>
        <driver>driver_hifly.xml</driver>
    </drivers>
    
    <contexts>
        <context>context_STD.xml</context>
    </contexts>
    
</config>
