<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="com.astra.ses.spell.gui.extensions.Presentations" name="Procedure Presentations" schema="schema/com.astra.ses.spell.gui.extensions.presentations.exsd"/>

   <extension
         id="com.astra.ses.spell.gui.application"
         name="SPELL Gui application"
         point="org.eclipse.core.runtime.applications">
         <application
               cardinality="1"
               icon="icons/app/16x16/application.png"
               visible="true">
            <run
                 class="com.astra.ses.spell.gui.Application">
            </run>
         </application>
   </extension>
   <extension
         id="com.astra.ses.spell.gui.perspective"
         point="org.eclipse.ui.perspectives">
          <perspective
                name="SPELL Client Perspective"
                class="com.astra.ses.spell.gui.perspectives.Perspective"
                icon="icons/app/16x16/application.png"
                id="com.astra.ses.spell.gui.perspective">
          </perspective>
   </extension>
   <extension
         id="com.astra.ses.spell.gui.product"
         name="SPELL Gui Product"
         point="org.eclipse.core.runtime.products">
          <product
                application="com.astra.ses.spell.gui.application"
                name="SPELL Client">
             <property
                   name="windowImages"
                   value="icons/app/16x16/application.gif,icons/app/32x32/application.gif,icons/app/48x48/application.gif">
             </property>
             <property
                   name="aboutText"
                   value="SES Procedure Execution Language and Library &#x0A;Graphical SPELL Execution Environment Interface&#x0A;&quot;SPELL-GUI&quot;.&#x0A;&#x0A;This is a copyrighted work of SES Engineering in&#x0A;collaboration with GMV Aerospace And Defence S.A.&#x0A;(c) 2008">
             </property>
             <property
                   name="aboutImage"
                   value="product_lg.gif">
             </property>
             <property
                   name="startupProgressRect"
                   value="0,310,380,15">
             </property>
             <property
                   name="appName"
                   value="SPELL Client">
             </property>
             <property
                   name="preferenceCustomization"
                   value="plugin_customization.ini">
             </property>
             <property
                   name="startupForegroundColor"
                   value="FFFFFF">
             </property>
             <property
                   name="startupMessageRect"
                   value="7,290,380,20">
             </property>
          </product>
   </extension>
   <extension
         id="com.astra.ses.spell.gui.menus"
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="com.astra.ses.spell.gui.menu.system"
               label="System"
               mnemonic="SYSTEM"
               tooltip="System operations">
            <command
                  commandId="com.astra.ses.spell.gui.commands.ShowConnectionDialog"
                  icon="icons/16x16/connection.png"
                  id="com.astra.ses.spell.gui.menu.system.ShowConnectionDialog"
                  style="push"
                  tooltip="Blah">
            </command>
            <command
                  commandId="com.astra.ses.spell.gui.commands.print"
                  icon="icons/printer.png"
                  id="com.astra.ses.spell.gui.commands.printGuiLog"
                  label="Print Master Log"
                  mnemonic="Print Master Log"
                  style="push">
               <parameter
                     name="com.astra.ses.spell.gui.print.printableProvider"
                     value="com.astra.ses.spell.gui.commands.GetPartPrintable">
               </parameter>
               <parameter
                     name="com.astra.ses.spell.gui.commands.partPrintable.name"
                     value="com.astra.ses.spell.gui.views.MasterView">
               </parameter>
            </command>
         </menu>
         <menu
               id="com.astra.ses.spell.gui.menu.procedures"
               label="Procedures"
               mnemonic="PROCS"
               tooltip="Procedure operations">
            <command
                  commandId="com.astra.ses.spell.gui.commands.ShowExecutorsDialog"
                  icon="icons/16x16/list.png"
                  id="com.astra.ses.spell.gui.menu.procedures.ShowExecutorsDialog"
                  style="push"
                  tooltip="Blah">
            </command>
            <command
                  commandId="com.astra.ses.spell.gui.commands.RefreshProcedures"
                  icon="icons/16x16/reload.png"
                  id="com.astra.ses.spell.gui.menu.procedures.RefreshProcedures"
                  style="push"
                  tooltip="Blah">
            </command>
            <separator
                  name="com.astra.ses.spell.gui.menus.procedures.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="com.astra.ses.spell.gui.commands.OpenProcedure"
                  icon="icons/16x16/open.png"
                  id="com.astra.ses.spell.gui.menu.procedures.OpenSelectedProcedure"
                  style="push"
                  tooltip="Opens the procedure currently selected in the navigation view">
            </command>
            <command
                  commandId="com.astra.ses.spell.gui.commands.OpenProcedureArgs"
                  icon="icons/16x16/open.png"
                  id="com.astra.ses.spell.gui.menu.procedures.OpenSelectedProcedureArgs"
                  style="push"
                  tooltip="Opens the selected procedure with arguments">
            </command>
            <command
                  commandId="com.astra.ses.spell.gui.commands.ScheduleProcedure"
                  icon="icons/16x16/schedule.png"
                  id="com.astra.ses.spell.gui.menu.procedures.ScheduleSelectedProcedure"
                  style="push"
                  tooltip="Schedule the procedure currently selected in the navigation view">
            </command>
            <separator
                  name="com.astra.ses.spell.gui.menus.procedures.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="com.astra.ses.spell.gui.commands.CloseProcedure"
                  icon="icons/16x16/close.png"
                  id="com.astra.ses.spell.gui.menu.procedures.CloseProcedure"
                  style="push"
                  tooltip="Blah">
            </command>
            <command
                  commandId="com.astra.ses.spell.gui.commands.ReleaseProcedure"
                  icon="icons/16x16/release.png"
                  id="com.astra.ses.spell.gui.menu.procedures.ReleaseProcedure"
                  style="push"
                  tooltip="Blah">
            </command>
            <command
                  commandId="com.astra.ses.spell.gui.commands.KillProcedure"
                  icon="icons/16x16/kill.png"
                  id="com.astra.ses.spell.gui.menu.procedures.KillProcedure"
                  style="push"
                  tooltip="Blah">
            </command>
            <separator
                  name="com.astra.ses.spell.gui.menus.procedures.separator3"
                  visible="true">
            </separator>
            <command
                  commandId="com.astra.ses.spell.gui.commands.GetAsRunFile"
                  icon="icons/16x16/asrun.png"
                  id="com.astra.ses.spell.gui.menu.procedures.GetAsRunFile"
                  style="push"
                  tooltip="Blah">
            </command>
            <command
                  commandId="com.astra.ses.spell.gui.commands.GetLogFile"
                  icon="icons/16x16/asrun.png"
                  id="com.astra.ses.spell.gui.menu.procedures.GetLogFile"
                  style="push"
                  tooltip="Blah">
            </command>
            <separator
                  name="com.astra.ses.spell.gui.menus.procedures.separator4"
                  visible="true">
            </separator>
            <command
                  commandId="com.astra.ses.spell.gui.commands.OpenProceduresEditor"
                  icon="icons/16x16/editor.png"
                  id="com.astra.ses.spell.gui.menu.procedures.OpenProceduresEditor"
                  style="push"
                  tooltip="Open the procedures editor">
            </command>
            <menu
                  icon="icons/printer.png"
                  id="com.astra.ses.spell.gui.menu.printProcedure"
                  label="Print Active Procedure"
                  mnemonic="Print Active Procedure">
               <visibleWhen>
                  <test
                        forcePluginActivation="false"
                        property="com.astra.ses.spell.gui.properties.AsRunAvailable">
                  </test>
               </visibleWhen>
               <command
                     commandId="com.astra.ses.spell.gui.commands.print"
                     id="com.astra.ses.spell.gui.commands.printAsRun"
                     label="Print As Run"
                     mnemonic="Print As Run"
                     style="push">
                  <parameter
                        name="com.astra.ses.spell.gui.print.printableProvider"
                        value="com.astra.ses.spell.gui.commands.GetActiveAsRunPrintable">
                  </parameter>
                  <parameter
                        name="com.astra.ses.spell.gui.commands.procPrintable.mode"
                        value="asrun">
                  </parameter>
               </command>
               <command
                     commandId="com.astra.ses.spell.gui.commands.print"
                     id="com.astra.ses.spell.gui.commands.printLog"
                     label="Print Log file"
                     mnemonic="Print Log file"
                     style="push">
                  <parameter
                        name="com.astra.ses.spell.gui.print.printableProvider"
                        value="com.astra.ses.spell.gui.commands.GetActiveLogPrintable">
                  </parameter>
                  <parameter
                        name="com.astra.ses.spell.gui.commands.procPrintable.mode"
                        value="log">
                  </parameter>
               </command>
            </menu>
         </menu>
         <menu
               id="com.astra.ses.spell.gui.menu.execution"
               label="Execution"
               mnemonic="EXEC"
               tooltip="Execution configuration">
            <command
                  commandId="com.astra.ses.spell.gui.commands.ToggleRunInto"
                  id="com.astra.ses.spell.gui.menu.execution.ToggleRunInto"
                  style="toggle"
                  tooltip="Toggle running into functions">
            </command>
            <command
                  commandId="com.astra.ses.spell.gui.commands.ToggleByStep"
                  id="com.astra.ses.spell.gui.menu.execution.ToggleByStep"
                  style="toggle"
                  tooltip="Toggle running step by step">
            </command>
         </menu>
         <menu
               id="com.astra.ses.spell.gui.menu.help"
               label="Help"
               mnemonic="HELP"
               tooltip="Application help">
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  id="com.astra.ses.spell.gui.commands.AboutAction"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.astra.ses.spell.gui.toolbars.MainToolbar">
            <command
                  commandId="com.astra.ses.spell.gui.commands.ShowConnectionDialog"
                  icon="icons/24x24/connect.png"
                  id="com.astra.ses.spell.gui.toolbars.ShowConnectionDialog"
                  tooltip="Show connection dialog">
            </command>
            <separator
                  name="com.astra.ses.spell.gui.toolbars.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="com.astra.ses.spell.gui.commands.RefreshProcedures"
                  icon="icons/24x24/reload.png"
                  id="com.astra.ses.spell.gui.toolbars.RefreshProcedures"
                  tooltip="Refresh procedure list">
            </command>
            <separator
                  name="com.astra.ses.spell.gui.toolbars.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="com.astra.ses.spell.gui.commands.ShowExecutorsDialog"
                  icon="icons/24x24/list.png"
                  id="com.astra.ses.spell.gui.toolbars.ShowExecutorsDialog"
                  tooltip="Show executors list">
            </command>
         </toolbar>
         <toolbar
               id="com.astra.ses.spell.gui.toolbars.StatusToolbar">
            <control
                  class="com.astra.ses.spell.gui.views.controls.status.StatusControlContribution"
                  id="com.astra.ses.spell.gui.toolbars.StatusControlContribution">
            </control>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         id="com.astra.ses.spell.gui.commands"
         point="org.eclipse.ui.commands">
      <command
            id="com.astra.ses.spell.gui.commands.ShowConnectionDialog"
            name="Show connection dialog">
      </command>
      <command
            id="com.astra.ses.spell.gui.commands.ShowExecutorsDialog"
            name="Show executors dialog">
      </command>
      <command
            id="com.astra.ses.spell.gui.commands.RefreshProcedures"
            name="Refresh procedure list">
      </command>
      <command
            id="com.astra.ses.spell.gui.commands.ConnectServer"
            name="Connect to server">
      </command>
      <command
            id="com.astra.ses.spell.gui.commands.DisconnectServer"
            name="Disconnect from server">
      </command>
      <command
            id="com.astra.ses.spell.gui.commands.StartContext"
            name="Start a context">
      </command>
      <command
            id="com.astra.ses.spell.gui.commands.StopContext"
            name="Stop a context">
      </command>
      <command
            id="com.astra.ses.spell.gui.commands.AttachContext"
            name="Attach to a context">
      </command>
      <command
            id="com.astra.ses.spell.gui.commands.DetachContext"
            name="Detach from context">
      </command>
      <command
            id="com.astra.ses.spell.gui.commands.CloseProcedure"
            name="Close selected procedure">
      </command>
      <command
            id="com.astra.ses.spell.gui.commands.ReleaseProcedure"
            name="Release selected procedure">
      </command>
      <command
            id="com.astra.ses.spell.gui.commands.KillProcedure"
            name="Kill selected procedure">
      </command>
      <command
            id="com.astra.ses.spell.gui.commands.GetAsRunFile"
            name="View procedure AS-RUN file">
      </command>
      <command
            id="com.astra.ses.spell.gui.commands.GetLogFile"
            name="View procedure log file">
      </command>
      <command
            id="com.astra.ses.spell.gui.commands.OpenProcedure"
            name="Open selected procedure">
      </command>
      <command
            id="com.astra.ses.spell.gui.commands.ScheduleProcedure"
            name="Schedule selected procedure">
      </command>
      <command
            id="com.astra.ses.spell.gui.commands.OpenProceduresEditor"
            name="Open editor">
      </command>
      <command
            id="com.astra.ses.spell.gui.commands.ToggleRunInto"
            name="Run into functions">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:false"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            id="com.astra.ses.spell.gui.commands.ToggleByStep"
            name="Step by step">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:false"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            defaultHandler="com.astra.ses.spell.gui.model.commands.PartPrintableHandler"
            id="com.astra.ses.spell.gui.commands.GetPartPrintable"
            name="Get Part Printable">
         <commandParameter
               id="com.astra.ses.spell.gui.commands.partPrintable.name"
               name="part"
               optional="false">
         </commandParameter>
      </command>
      <command
            defaultHandler="com.astra.ses.spell.gui.model.commands.ActiveProcedurePrintableHandler"
            id="com.astra.ses.spell.gui.commands.GetActiveProcPrintable"
            name="Get Active Procedure Printable">
         <commandParameter
               id="com.astra.ses.spell.gui.commands.procPrintable.mode"
               name="mode"
               optional="false">
         </commandParameter>
      </command>
      <command
            defaultHandler="com.astra.ses.spell.gui.model.commands.GetActiveAsRunPrintable"
            id="com.astra.ses.spell.gui.commands.GetActiveAsRunPrintable"
            name="Get Active AsRun Printable">
      </command>
      <command
            id="com.astra.ses.spell.gui.commands.OpenProcedureArgs"
            name="Open with arguments...">
      </command>
      <command
            defaultHandler="com.astra.ses.spell.gui.model.commands.GetActiveLogPrintable"
            id="com.astra.ses.spell.gui.commands.GetActiveLogPrintable"
            name="Get Active Log Printable">
      </command>
      <command
            id="com.astra.ses.spell.gui.commands.DestroyContext"
            name="Destroy context">
      </command>
   </extension>
   <extension
         id="com.astra.ses.spell.gui.bindings"
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.astra.ses.spell.gui.commands.ShowConnectionDialog"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="ALT+C">
      </key>
      <key
            commandId="com.astra.ses.spell.gui.commands.ShowExecutorsDialog"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="ALT+E">
      </key>
      <key
            commandId="com.astra.ses.spell.gui.commands.RefreshProcedures"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="ALT+R">
      </key>
      <key
            commandId="com.astra.ses.spell.gui.commands.GetAsRunFile"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="ALT+F">
      </key>
      <key
            commandId="com.astra.ses.spell.gui.commands.GetLogFile"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="ALT+L">
      </key>
   </extension>
   <extension
         id="com.astra.ses.spell.gui.commands.handlers"
         name="Command Handlers"
         point="org.eclipse.ui.handlers">
      <handler
            class="com.astra.ses.spell.gui.model.commands.ShowConnectionDialog"
            commandId="com.astra.ses.spell.gui.commands.ShowConnectionDialog">
      </handler>
      <handler
            class="com.astra.ses.spell.gui.model.commands.RefreshProcedures"
            commandId="com.astra.ses.spell.gui.commands.RefreshProcedures">
         <enabledWhen>
            <test
                  property="com.astra.ses.spell.gui.properties.ContextConnected">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="com.astra.ses.spell.gui.model.commands.ShowExecutorsDialog"
            commandId="com.astra.ses.spell.gui.commands.ShowExecutorsDialog">
         <enabledWhen>
            <test
                  property="com.astra.ses.spell.gui.properties.ContextConnected">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="com.astra.ses.spell.gui.model.commands.ConnectServer"
            commandId="com.astra.ses.spell.gui.commands.ConnectServer">
      </handler>
      <handler
            class="com.astra.ses.spell.gui.model.commands.DisconnectServer"
            commandId="com.astra.ses.spell.gui.commands.DisconnectServer">
      </handler>
      <handler
            class="com.astra.ses.spell.gui.model.commands.StartContext"
            commandId="com.astra.ses.spell.gui.commands.StartContext">
      </handler>
      <handler
            class="com.astra.ses.spell.gui.model.commands.StopContext"
            commandId="com.astra.ses.spell.gui.commands.StopContext">
      </handler>
      <handler
            class="com.astra.ses.spell.gui.model.commands.AttachContext"
            commandId="com.astra.ses.spell.gui.commands.AttachContext">
      </handler>
      <handler
            class="com.astra.ses.spell.gui.model.commands.DetachContext"
            commandId="com.astra.ses.spell.gui.commands.DetachContext">
      </handler>
      <handler
            class="com.astra.ses.spell.gui.model.commands.CloseProcedure"
            commandId="com.astra.ses.spell.gui.commands.CloseProcedure">
         <enabledWhen>
            <test
                  property="com.astra.ses.spell.gui.properties.ProcedureCloseable">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="com.astra.ses.spell.gui.model.commands.KillProcedure"
            commandId="com.astra.ses.spell.gui.commands.KillProcedure">
         <enabledWhen>
            <test
                  property="com.astra.ses.spell.gui.properties.ProcedureCloseable">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="com.astra.ses.spell.gui.model.commands.ReleaseProcedure"
            commandId="com.astra.ses.spell.gui.commands.ReleaseProcedure">
         <enabledWhen>
            <test
                  property="com.astra.ses.spell.gui.properties.ProcedureCloseable">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="com.astra.ses.spell.gui.model.commands.GetAsRunFile"
            commandId="com.astra.ses.spell.gui.commands.GetAsRunFile">
         <enabledWhen>
            <test
                  property="com.astra.ses.spell.gui.properties.AsRunAvailable">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="com.astra.ses.spell.gui.model.commands.GetLogFile"
            commandId="com.astra.ses.spell.gui.commands.GetLogFile">
         <enabledWhen>
            <test
                  property="com.astra.ses.spell.gui.properties.AsRunAvailable">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="com.astra.ses.spell.gui.model.commands.OpenProcedure"
            commandId="com.astra.ses.spell.gui.commands.OpenProcedure">
         <enabledWhen>
            <test
                  property="com.astra.ses.spell.gui.properties.ProcedureOpenable">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="com.astra.ses.spell.gui.model.commands.ScheduleProcedure"
            commandId="com.astra.ses.spell.gui.commands.ScheduleProcedure">
         <enabledWhen>
            <test
                  property="com.astra.ses.spell.gui.properties.ProcedureOpenable">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="com.astra.ses.spell.gui.model.commands.OpenProceduresEditor"
            commandId="com.astra.ses.spell.gui.commands.OpenProceduresEditor">
      </handler>
      <handler
            class="com.astra.ses.spell.gui.model.commands.ToggleRunInto"
            commandId="com.astra.ses.spell.gui.commands.ToggleRunInto">
         <enabledWhen>
            <test
                  property="com.astra.ses.spell.gui.properties.ProcedureConfigurable">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="com.astra.ses.spell.gui.model.commands.ToggleByStep"
            commandId="com.astra.ses.spell.gui.commands.ToggleByStep">
         <enabledWhen>
            <test
                  property="com.astra.ses.spell.gui.properties.ProcedureConfigurable">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="com.astra.ses.spell.gui.model.commands.OpenProcedureArgs"
            commandId="com.astra.ses.spell.gui.commands.OpenProcedureArgs">
         <enabledWhen>
            <test
                  property="com.astra.ses.spell.gui.properties.ProcedureOpenable">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="com.astra.ses.spell.gui.model.commands.DestroyContext"
            commandId="com.astra.ses.spell.gui.commands.DestroyContext">
      </handler>
   </extension>
   <extension
         id="com.astra.ses.spell.gui.views"
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="com.astra.ses.spell.gui.views.NavigationView"
            icon="icons/16x16/packages.png"
            id="com.astra.ses.spell.gui.views.NavigationView"
            name="Navigation View"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="com.astra.ses.spell.gui.views.MasterView"
            icon="icons/16x16/master.png"
            id="com.astra.ses.spell.gui.views.MasterView"
            name="Master View"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="com.astra.ses.spell.gui.views.StackView"
            icon="icons/sample2.gif"
            id="com.astra.ses.spell.gui.views.StackView"
            name="Call Stack"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="com.astra.ses.spell.gui.views.ProcedureView"
            icon="icons/16x16/object.jpg"
            id="com.astra.ses.spell.gui.views.ProcedureView"
            name="Procedure View"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="com.astra.ses.spell.gui.views.TabbedView"
            icon="icons/16x16/asrun.png"
            id="com.astra.ses.spell.gui.views.TabbedView"
            name="Tabbed View"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="com.astra.ses.spell.gui.views.LogFileView"
            icon="icons/16x16/asrun.png"
            id="com.astra.ses.spell.gui.views.LogFileView"
            name="Log File View"
            restorable="false">
      </view>
   </extension>
   <extension
         id="com.astra.ses.spell.gui.propertyTesters"
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.astra.ses.spell.gui.model.properties.ContextConnectedTester"
            id="com.astra.ses.spell.gui.propertyTesters.ContextConnectedTester"
            namespace="com.astra.ses.spell.gui.properties"
            properties="ContextConnected"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="com.astra.ses.spell.gui.model.properties.ProcedureCloseTester"
            id="com.astra.ses.spell.gui.propertyTesters.ProcedureCloseTester"
            namespace="com.astra.ses.spell.gui.properties"
            properties="ProcedureCloseable"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="com.astra.ses.spell.gui.model.properties.ProcedureOpenTester"
            id="com.astra.ses.spell.gui.propertyTesters.ProcedureOpenTester"
            namespace="com.astra.ses.spell.gui.properties"
            properties="ProcedureOpenable"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="com.astra.ses.spell.gui.model.properties.AsRunOpenTester"
            id="com.astra.ses.spell.gui.propertyTesters.AsRunOpenTester"
            namespace="com.astra.ses.spell.gui.properties"
            properties="AsRunAvailable"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="com.astra.ses.spell.gui.model.properties.ProcedureConfigurableTester"
            id="com.astra.ses.spell.gui.propertyTesters.ProcedureConfigurableTester"
            namespace="com.astra.ses.spell.gui.properties"
            properties="ProcedureConfigurable"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="com.astra.ses.spell.gui.model.properties.FalseProperty"
            id="com.astra.ses.spell.gui.propertyTesters.False"
            namespace="com.astra.ses.spell.gui.properties"
            properties="False"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         id="com.astra.ses.spell.gui.extensions.ClientOperations"
         name="GUI Client Operations monitor"
         point="com.astra.ses.spell.gui.extensions.ClientOperations">
      <listener
            class="com.astra.ses.spell.gui.extensions.GuiClientOperations"
            description="Client operations monitor for GUI client"
            name="Client Operations">
      </listener>
   </extension>
   <extension
         id="com.astra.ses.spell.gui.extensions.ServerOperations"
         name="GUI Server Operations monitor"
         point="com.astra.ses.spell.gui.extensions.ServerOperations">
      <listener
            class="com.astra.ses.spell.gui.extensions.GuiServerOperations"
            description="Server operations monitor for GUI client"
            name="Server Operations">
      </listener>
   </extension>
   <extension
         id="com.astra.ses.spell.gui.extensions.ContextOperations"
         name="GUI Context Operations monitor"
         point="com.astra.ses.spell.gui.extensions.ContextOperations">
      <listener
            class="com.astra.ses.spell.gui.extensions.GuiContextOperations"
            description="Context operations monitor for GUI client"
            name="Context Operations">
      </listener>
   </extension>
   <extension
         id="com.astra.ses.spell.gui.extensions.LogListener"
         name="Log listener for GUI"
         point="com.astra.ses.spell.gui.extensions.Logging">
      <listener
            class="com.astra.ses.spell.gui.extensions.GuiServerLogs"
            description="Server logs monitor for GUI client"
            name="Server Logs">
      </listener>
   </extension>
   <extension
         id="com.astra.ses.spell.gui.extensions.ProcedureOperations"
         name="GUI Procedure Operations monitor"
         point="com.astra.ses.spell.gui.extensions.ProcedureOperations">
      <listener
            class="com.astra.ses.spell.gui.extensions.GuiProcedureOperations"
            description="Entry point for procedure status updates"
            name="Procedure Status Monitor">
      </listener>
   </extension>
   <extension
         id="com.astra.ses.spell.gui.extensions.ProcedureView"
         name="Procedure Views Input Proxy"
         point="com.astra.ses.spell.gui.extensions.ProcedureView">
      <listener
            class="com.astra.ses.spell.gui.extensions.GuiProcedureViewProxy"
            description="Entry point for procedure model updates"
            name="Procedure View Support">
      </listener>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.astra.ses.spell.gui.application"
            name="SPELL GUI Client">
         <property
               name="windowImages"
               value="icons/app/16x16/application.gif,icons/app/32x32/application.gif,icons/app/48x48/application.gif">
         </property>
         <property
               name="aboutText"
               value="SES Procedure Execution Language and Library &#x0A;Graphical SPELL Execution Environment Interface&#x0A;&quot;SPELL-GUI&quot;.&#x0A;&#x0A;This is a copyrighted work of SES Engineering in&#x0A;collaboration with GMV Aerospace And Defence S.A.&#x0A;(c) 2008">
         </property>
         <property
               name="aboutImage"
               value="product_lg.gif">
         </property>
         <property
               name="startupForegroundColor"
               value="FFFFFF">
         </property>
         <property
               name="startupProgressRect"
               value="0,310,380,15">
         </property>
         <property
               name="startupMessageRect"
               value="7,290,380,20">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.astra.ses.spell.gui.preferences.ConnectionPreferences">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            description="Hide contributions made by org.eclipse.search"
            id="com.astra.ses.spell.gui.activities.hideSearch"
            name="Hide Search Contributions">
         <enabledWhen>
            <test
                  forcePluginActivation="false"
                  property="com.astra.ses.spell.gui.propertyTesters.False"
                  value="true">
            </test>
         </enabledWhen>
      </activity>
      <activityPatternBinding
            activityId="com.astra.ses.spell.gui.activities.hideSearch"
            isEqualityPattern="false"
            pattern="org.eclipse.search.*">
      </activityPatternBinding>
   </extension>

</plugin>
