<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.astra.ses.spell.gui.print.handler.PrintHandler"
            description="Print"
            id="com.astra.ses.spell.gui.commands.print"
            name="Print">
         <commandParameter
               id="com.astra.ses.spell.gui.print.printableProvider"
               name="printableProvider"
               optional="false"
               values="com.astra.ses.spell.gui.print.handler.GenericPrintableProvider">
         </commandParameter>
         <commandParameter
               id="com.astra.ses.spell.gui.commands.partPrintable.name"
               name="part"
               optional="true">
         </commandParameter>
         <commandParameter
               id="com.astra.ses.spell.gui.commands.procPrintable.mode"
               name="mode"
               optional="true">
         </commandParameter>
      </command>
   </extension>

</plugin>
