<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="com.astra.ses.spell.dev.database.DatabaseInterface" name="TM/TC Database Interface" schema="schema/ses.astra.spel.database.DatabaseInterface.exsd"/>
   <extension
         id="com.astra.ses.spell.dev.database.ContextListener"
         name="Database manager context listener"
         point="com.astra.ses.spell.dev.context.SpellContextListener">
      <ContextChangesListener
            class="com.astra.ses.spell.dev.database.DatabaseWorkspaceListener"
            description="Database Manager listens to procedures opened, focused or closed"
            id="com.astra.ses.spell.dev.database.ContextListener">
      </ContextChangesListener>
   </extension>
</plugin>
