<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="com.astra.ses.spell.dev.spellDroplet" name="OfflineDatabaseDropplets" schema="schema/com.astra.ses.spell.dev.spellEditorDroplet.exsd"/>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.astra.ses.spell.dev.spelleditor.SpellEditor"
            contributorClass="com.astra.ses.spell.dev.spelleditor.toolbar.SpellActionBarContributor"
            default="true"
            extensions="py"
            icon="icon/spell_proc.png"
            id="com.astra.ses.spell.dev.spelllanguageeditor"
            name="SPELL language editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            description="Remove Python Editor"
            id="com.astra.ses.spell.dev.removePyEdit"
            name="Remove Python Editor">
         <enabledWhen>
            <test
                  forcePluginActivation="false"
                  property="com.astra.ses.spell.dev.spelleditor.false"
                  value="true">
            </test>
         </enabledWhen>
      </activity>
      <activityPatternBinding
            activityId="com.astra.ses.spell.dev.removePyEdit"
            isEqualityPattern="false"
            pattern="org.python.pydev.*editor.*">
      </activityPatternBinding>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.astra.ses.spell.dev.spelleditor.tester.FalsePropertyTester"
            id="com.astra.ses.spell.dev.spelleditor.false"
            namespace="com.astra.ses.spell.dev.spelleditor.properties"
            properties="false"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         id="com.astra.ses.spell.dev.languageDroplets"
         name="Basic SPELL language droplets"
         point="com.astra.ses.spell.dev.spellDroplet">
      <OfflineDatabaseDroplet
            class="com.astra.ses.spell.dev.spelleditor.dnd.menuactions.GetTMGeneratorItem"
            description="Code Generator for function GetTM"
            name="com.astra.ses.spell.dev.droplet.GetTM">
      </OfflineDatabaseDroplet>
      <OfflineDatabaseDroplet
            class="com.astra.ses.spell.dev.spelleditor.dnd.menuactions.AdjustLimitsGeneratorItem"
            description="Adjust limits code generator"
            name="com.astra.ses.spell.dev.droplet.AdjustLimits">
      </OfflineDatabaseDroplet>
      <OfflineDatabaseDroplet
            class="com.astra.ses.spell.dev.spelleditor.dnd.menuactions.BuildTCGeneratorItem"
            description="BuildTC code generator"
            name="com.astra.ses.spell.dev.droplet.BuildTC">
      </OfflineDatabaseDroplet>
      <OfflineDatabaseDroplet
            class="com.astra.ses.spell.dev.spelleditor.dnd.menuactions.DisableAlarmGeneratorItem"
            description="DisableAlarm code generator"
            name="com.astra.ses.spell.dev.droplet.DisableAlarm">
      </OfflineDatabaseDroplet>
      <OfflineDatabaseDroplet
            class="com.astra.ses.spell.dev.spelleditor.dnd.menuactions.EnableAlarmGeneratorItem"
            description="EnableAlarm generator item"
            name="com.astra.ses.spell.dev.droplet.EnableAlarm">
      </OfflineDatabaseDroplet>
      <OfflineDatabaseDroplet
            class="com.astra.ses.spell.dev.spelleditor.dnd.menuactions.GetTMParamGeneratorItem"
            description="GetTMparam code generator item"
            name="com.astra.ses.spell.dev.droplet.GetTMparam">
      </OfflineDatabaseDroplet>
      <OfflineDatabaseDroplet
            class="com.astra.ses.spell.dev.spelleditor.dnd.menuactions.SendGeneratorItem"
            description="Send single command code generator item"
            name="com.astra.ses.spell.dev.droplet.Send">
      </OfflineDatabaseDroplet>
      <OfflineDatabaseDroplet
            class="com.astra.ses.spell.dev.spelleditor.dnd.menuactions.SendGroupGeneratorItem"
            description="Send group code generator item"
            name="com.astra.ses.spell.dev.droplet.SendGroup">
      </OfflineDatabaseDroplet>
      <OfflineDatabaseDroplet
            class="com.astra.ses.spell.dev.spelleditor.dnd.menuactions.SetGroundParameterGeneratorItem"
            description="SetGroundParameter code generator item"
            name="com.astra.ses.spell.dev.droplet.SetGroundParameter">
      </OfflineDatabaseDroplet>
      <OfflineDatabaseDroplet
            class="com.astra.ses.spell.dev.spelleditor.dnd.menuactions.SetTMParamGeneratorItem"
            description="SetTMparam code generator item"
            name="com.astra.ses.spell.dev.droplet.SetTMparam">
      </OfflineDatabaseDroplet>
      <OfflineDatabaseDroplet
            class="com.astra.ses.spell.dev.spelleditor.dnd.menuactions.VerifyGeneratorItem"
            description="Verify code generator item"
            name="com.astra.ses.spell.dev.droplet.Verify">
      </OfflineDatabaseDroplet>
      <OfflineDatabaseDroplet
            class="com.astra.ses.spell.dev.spelleditor.dnd.menuactions.WaitForGeneratorItem"
            description="WaitFor code generator item"
            name="com.astra.ses.spell.dev.droplet.WaitFor">
      </OfflineDatabaseDroplet>
      <OfflineDatabaseDroplet
            class="com.astra.ses.spell.dev.spelleditor.dnd.menuactions.SendAndVerifyGeneratorItem"
            description="Sendand verify generator item"
            name="com.astra.ses.spell.dev.droplet.SendAndVerify">
      </OfflineDatabaseDroplet>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.python.pydev.prefs"
            class="com.astra.ses.spell.dev.spelleditor.preferences.pages.CustomSnippetsPreferencePage"
            id="com.astra.ses.spell.dev.spelleditor.prefs.customsnippets"
            name="Custom Snippets">
      </page>
      <page
            category="org.python.pydev.prefs"
            class="com.astra.ses.spell.dev.spelleditor.preferences.pages.DropletsPreferencePage"
            id="com.astra.ses.spell.dev.spelleditor.prefs.spelldroplets"
            name="Droplets">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.astra.ses.spell.dev.spelleditor.preferences.SnippetPreferences">
      </initializer>
      <initializer
            class="com.astra.ses.spell.dev.spelleditor.preferences.DropletPreferences">
      </initializer>
      <initializer
            class="com.astra.ses.spell.dev.spelleditor.preferences.ColorPreferences">
      </initializer>
   </extension>

</plugin>
