<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="com.astra.ses.spell.gui.presentation.TextView"
         name="Textual view for procedures"
         point="com.astra.ses.spell.gui.extensions.Presentations">
      <listener
            class="com.astra.ses.spell.gui.presentation.text.TextPresentation"
            description="Text Viewer presentation extension"
            name="Text Viewer">
      </listener>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:com.astra.ses.spell.gui.menu.printProcedure?after=additions">
         <command
               commandId="com.astra.ses.spell.gui.commands.print"
               id="Print Text View"
               label="Print Text View"
               style="push">
            <parameter
                  name="com.astra.ses.spell.gui.print.printableProvider"
                  value="com.astra.ses.spell.gui.commands.GetActiveProcPrintable">
            </parameter>
            <parameter
                  name="com.astra.ses.spell.gui.commands.procPrintable.mode"
                  value="com.astra.ses.spell.gui.presentation.TextView">
            </parameter>
         </command>
      </menuContribution>
   </extension>

</plugin>
