<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="com.astra.ses.spell.gui.extensions.ClientOperations" name="Client Operations" schema="schema/com.astra.ses.spell.gui.extensions.clientop.exsd"/>
   <extension-point id="com.astra.ses.spell.gui.extensions.ProcedureIO" name="Procedure Input Output" schema="schema/com.astra.ses.spell.gui.extensions.procio.exsd"/>
   <extension-point id="com.astra.ses.spell.gui.extensions.ProcedureRuntime" name="Procedure Runtime" schema="schema/com.astra.ses.spell.gui.extensions.procrt.exsd"/>
   <extension-point id="com.astra.ses.spell.gui.extensions.ProcedureOperations" name="Procedure Operations" schema="schema/com.astra.ses.spell.gui.extensions.procop.exsd"/>
   <extension-point id="com.astra.ses.spell.gui.extensions.CommunicationInterface" name="SPELL Core Communications Layer" schema="schema/com.astra.ses.spell.gui.extensions.commif.exsd"/>
   <extension-point id="com.astra.ses.spell.gui.extensions.ShellManager" name="Shell manager interface" schema="schema/com.astra.ses.spell.gui.extensions.shell.exsd"/>


</plugin>
