<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="com.astra.ses.spell.dev.DevelopmentEnvironment"
         name="SPELL Development Environment"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            icon="images/spell32.gif"
            thread="main"
            visible="true">
         <run
               class="com.astra.ses.spell.dev.Application">
         </run>
      </application>
   </extension>
   <extension
         id="SpellDevProduct"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.astra.ses.spell.dev.DevelopmentEnvironment"
            name="SPELL Development Environment">
         <property
               name="windowImages"
               value="images/spell16.gif,images/spell32.gif,images/spell48.gif,images/spell64.gif,images/spell128.gif">
         </property>
         <property
               name="aboutText"
               value="SES Procedure Execution Language and Library &#x0A;Graphical SPELL Procedures IDE &quot;SPELL-DEV&quot;&#x0A;&#x0A;This is a copyrighted work of SES Engineering in collaboration with GMV Aerospace And Defence S.A. &#x0A;(c) 2007,2008,2009">
         </property>
         <property
               name="aboutImage"
               value="eclipse_lg.gif">
         </property>
         <property
               name="startupForegroundColor"
               value="FFFFFF">
         </property>
         <property
               name="startupProgressRect"
               value="0,315,380,15">
         </property>
         <property
               name="startupMessageRect"
               value="7,290,380,20">
         </property>
         <property
               name="appName"
               value="SPELL Development Environment">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.python.pydev.ui.PythonPerspective">
         <actionSet
               id="com.astra.ses.spell.dev.ControlVersion">
         </actionSet>
         <actionSet
               id="org.eclipse.ui.edit.text.actionSet.presentation">
         </actionSet>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="Control Version System actions"
            id="com.astra.ses.spell.dev.ControlVersion"
            label="Subversion"
            visible="true">
         <menu
               id="com.astra.ses.spell.dev.menu.subversion"
               label="Subversion"
               path="window">
            <separator
                  name="SVNCommands">
            </separator>
            <separator
                  name="SVNShow">
            </separator>
         </menu>
         <action
               class="org.tigris.subversion.subclipse.ui.actions.CommitAction"
               definitionId="org.tigris.subversion.subclipse.ui.commit"
               icon="images/arrow_right.png"
               id="com.astra.ses.spell.dev.cvs.Commit"
               label="Commit changes"
               menubarPath="com.astra.ses.spell.dev.menu.subversion/SVNCommands"
               style="push"
               toolbarPath="subversion"
               tooltip="Commit changes">
         </action>
         <action
               class="org.tigris.subversion.subclipse.ui.actions.RevertAction"
               definitionId="org.tigris.subversion.subclipse.ui.revert"
               icon="images/arrow_left.png"
               id="com.astra.ses.spell.dev.cvs.Revert"
               label="Revert changes"
               menubarPath="com.astra.ses.spell.dev.menu.subversion/SVNCommands"
               style="push"
               toolbarPath="subversion">
         </action>
         <action
               class="org.tigris.subversion.subclipse.ui.actions.LockAction"
               definitionId="org.tigris.subversion.subclipse.ui.lock"
               icon="images/lock.png"
               id="com.astra.ses.spell.dev.cvs.Lock"
               label="Lock"
               menubarPath="com.astra.ses.spell.dev.menu.subversion/SVNCommands"
               style="push"
               toolbarPath="subversion">
         </action>
         <action
               class="org.tigris.subversion.subclipse.ui.actions.UnlockAction"
               definitionId="org.tigris.subversion.subclipse.ui.unlock"
               icon="images/lock_open.png"
               id="com.astra.ses.spell.dev.cvs.unlock"
               label="Unlock"
               menubarPath="com.astra.ses.spell.dev.menu.subversion/SVNCommands"
               style="push"
               toolbarPath="subversion">
         </action>
         <action
               class="org.tigris.subversion.subclipse.ui.actions.UpdateAction"
               definitionId="org.tigris.subversion.subclipse.ui.update"
               icon="images/refresh.png"
               id="com.astra.ses.spell.dev.cvs.Update"
               label="Update"
               menubarPath="com.astra.ses.spell.dev.menu.subversion/SVNCommands"
               style="push"
               toolbarPath="subversion">
         </action>
         <action
               class="org.tigris.subversion.subclipse.ui.actions.AddAction"
               definitionId="org.tigris.subversion.subclipse.ui.add"
               icon="images/add.png"
               id="com.astra.ses.spell.dev.cvs.Add"
               label="Add to version control"
               menubarPath="com.astra.ses.spell.dev.menu.subversion/SVNCommands"
               style="push"
               toolbarPath="subversion">
         </action>
         <action
               class="org.tigris.subversion.subclipse.ui.actions.ShowResourceInHistoryAction"
               definitionId="org.tigris.subversion.subclipse.ui.showresourceinhistoryaction"
               icon="images/book_open.png"
               id="com.astra.ses.spell.dev.cvs.ShowHistory"
               label="Show history"
               menubarPath="com.astra.ses.spell.dev.menu.subversion/SVNShow"
               style="push"
               toolbarPath="subversion">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            description="Hide Team element contributions from subclipse"
            id="com.astra.ses.spell.dev.activity.hidesubversionteam"
            name="Hide Team Elements">
         <enabledWhen>
            <test
                  forcePluginActivation="false"
                  property="com.astra.ses.spell.dev.false"
                  value="true">
            </test>
         </enabledWhen>
      </activity>
      <activityPatternBinding
            activityId="com.astra.ses.spell.dev.activity.hidesubversionteam"
            isEqualityPattern="true"
            pattern="org.tigris.subversion.subclipse.ui.synchronize">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.astra.ses.spell.dev.activity.hidesubversionteam"
            isEqualityPattern="true"
            pattern="org.tigris.subversion.subclipse.ui.GenerateDiff">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.astra.ses.spell.dev.activity.hidesubversionteam"
            isEqualityPattern="true"
            pattern="org.tigris.subversion.subclipse.ui.branchtag">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.astra.ses.spell.dev.activity.hidesubversionteam"
            isEqualityPattern="true"
            pattern="org.tigris.subversion.subclipse.ui.merge">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.astra.ses.spell.dev.activity.hidesubversionteam"
            isEqualityPattern="true"
            pattern="org.tigris.subversion.subclipse.ui.switch">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.astra.ses.spell.dev.activity.hidesubversionteam"
            isEqualityPattern="true"
            pattern="org.tigris.subversion.subclipse.ui.ignore">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.astra.ses.spell.dev.activity.hidesubversionteam"
            isEqualityPattern="true"
            pattern="org.tigris.subversion.subclipse.ui.showsvnproperties">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.astra.ses.spell.dev.activity.hidesubversionteam"
            isEqualityPattern="true"
            pattern="org.tigris.subversion.subclipse.ui.setsvnproperty">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.astra.ses.spell.dev.activity.hidesubversionteam"
            isEqualityPattern="true"
            pattern="org.tigris.subversion.subclipse.ui.showresourceinhistoryaction">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.astra.ses.spell.dev.activity.hidesubversionteam"
            isEqualityPattern="true"
            pattern="org.tigris.subversion.subclipse.ui.copy">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.astra.ses.spell.dev.activity.hidesubversionteam"
            isEqualityPattern="true"
            pattern="org.tigris.subversion.subclipse.ui.export">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.astra.ses.spell.dev.activity.hidesubversionteam"
            isEqualityPattern="true"
            pattern="org.tigris.subversion.subclipse.ui.showannotation">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.astra.ses.spell.dev.activity.hidesubversionteam"
            isEqualityPattern="false"
            pattern="org.tigris.subversion.subclipse.graph.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.astra.ses.spell.dev.activity.hidesubversionteam"
            isEqualityPattern="true"
            pattern="org.tigris.subversion.subclipse.ui.actions.ShowTreeConflictsAction">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.astra.ses.spell.dev.activity.hidesubversionteam"
            isEqualityPattern="true"
            pattern="org.tigris.subversion.subclipse.ui.updateDialog">
      </activityPatternBinding>
      <activity
            description="Hide Compare With element contributions from subclipse"
            id="com.astra.ses.spell.dev.activity.hidesubversioncomparewith"
            name="Hide Compare With Elements">
         <enabledWhen>
            <test
                  forcePluginActivation="false"
                  property="com.astra.ses.spell.dev.false"
                  value="true">
            </test>
         </enabledWhen>
      </activity>
      <activityPatternBinding
            activityId="com.astra.ses.spell.dev.activity.hidesubversioncomparewith"
            isEqualityPattern="true"
            pattern="org.tigris.subversion.subclipse.ui.compareWithHead">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.astra.ses.spell.dev.activity.hidesubversioncomparewith"
            isEqualityPattern="true"
            pattern="org.tigris.subversion.subclipse.ui.compareWithBranchTag">
      </activityPatternBinding>
      <activity
            description="Hide Replace With Elements contributed by subclipse"
            id="com.astra.ses.spell.dev.activity.hidesubversionreplacewith"
            name="Hide Replace With Elements">
         <enabledWhen>
            <test
                  forcePluginActivation="false"
                  property="com.astra.ses.spell.dev.false"
                  value="true">
            </test>
         </enabledWhen>
      </activity>
      <activityPatternBinding
            activityId="com.astra.ses.spell.dev.activity.hidesubversionreplacewith"
            isEqualityPattern="true"
            pattern="org.tigris.subversion.subclipse.ui.replaceWithBranchTag">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.astra.ses.spell.dev.activity.hidesubversionteam"
            isEqualityPattern="false"
            pattern=".*BranchTag.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.astra.ses.spell.dev.activity.hidesubversionteam"
            isEqualityPattern="true"
            pattern="org.tigris.subversion.subclipse.ui.updateDialog">
      </activityPatternBinding>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.astra.ses.spell.dev.properties.FalseProperty"
            id="com.astra.ses.spell.dev.false"
            namespace="com.astra.ses.spell.dev"
            properties="false"
            type="java.lang.Object">
      </propertyTester>
   </extension>
</plugin>
