<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="com.astra.ses.spell"
            class="com.astra.ses.spell.database.browser.views.telemetry.TelemetryViewPart"
            icon="icons/img_telemetry.png"
            id="ses.astra.spel.browser.views.telemetry.TelemetryViewPart"
            name="Telemetry"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="com.astra.ses.spell"
            class="com.astra.ses.spell.database.browser.views.telecommand.TelecommandViewPart"
            icon="icons/img_command.png"
            id="ses.astra.spel.browser.views.telecommand.TelecommandViewPart"
            name="Telecommand"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Change Database Command"
            id="com.astra.ses.spell.database.database.ui.handlers.changeDatabase"
            name="Change Database Action">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=Edit">
         <menu
               id="com.astra.ses.spell.database.workspace.menu.procedures"
               label="Project"
               mnemonic="Project">
            <command
                  commandId="com.astra.ses.spell.database.database.ui.handlers.changeDatabase"
                  id="Change Database"
                  label="Change database properties"
                  mnemonic="Change Database"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.astra.ses.spell.database.db.ui.handlers.ChangeDatabaseHandler"
            commandId="com.astra.ses.spell.database.database.ui.handlers.changeDatabase"
            helpContextId="Change Database Command">
         <enabledWhen>
            <test
                  forcePluginActivation="true"
                  property="com.astra.ses.spell.database.database.hasDatabase"
                  value="true"></test>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="com.astra.ses.spell.database.db.ui.properties.pages.ProjectDatabasePropertiesPage"
            icon="icons/img_database.png"
            id="com.astra.ses.spell.database.db.ui.property.pages"
            name="Database Properties">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IProject">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.python.pydev.ui.PythonPerspective">
          <view
                id="ses.astra.spel.browser.views.telemetry.TelemetryViewPart"
                ratio="0.5"
                relationship="bottom"
                relative="org.python.pydev.navigator.view"
                showTitle="true"
                standalone="true"
                visible="true">
         </view>
          <view
                id="ses.astra.spel.browser.views.telecommand.TelecommandViewPart"
                relationship="stack"
                relative="ses.astra.spel.browser.views.telemetry.TelemetryViewPart"
                showTitle="true"
                visible="true">
         </view>
          <newWizardShortcut
                id="com.astra.ses.spell.database.db.ui.wizards.DatabaseFileWizard">
          </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.astra.ses.spell.database.db.propertytester.HasDatabaseProperty"
            id="com.astra.ses.spell.database.database.hasDatabase"
            namespace="com.astra.ses.spell.database.database"
            properties="hasDatabase"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="false"
            category="org.python.pydev.PythonCategory"
            class="com.astra.ses.spell.database.db.ui.wizards.DatabaseFileWizard"
            finalPerspective="org.python.pydev.ui.PythonPerspective"
            icon="icons/img_database.png"
            id="com.astra.ses.spell.database.db.ui.wizards.DatabaseFileWizard"
            name="Database file"
            preferredPerspectives="org.python.pydev.ui.PythonPerspective">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            menuGroupId="org.python.pydev.ui.wizards"
            type="new"
            wizardId="com.astra.ses.spell.database.db.ui.wizards.DatabaseFileWizard">
         <enablement>
            <adapt
                  type="org.eclipse.core.resources.IFolder">
            </adapt></enablement>
      </commonWizard>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.ses.astra.spell.database.texteditor.DatabaseTextEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="false"
            extensions="imp, db"
            icon="icons/img_database.png"
            id="com.ses.astra.spell.dev.database.texteditor"
            name="Database text editor">
      </editor>
      <editor
            class="com.astra.ses.spell.database.db.ui.editor.DatabaseEditor"
            default="false"
            extensions="imp, db"
            icon="icons/img_database.png"
            id="com.ses.astra.spell.dev.database.celleditor"
            name="Database cell editor">
      </editor>
   </extension>
</plugin>
