<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="SpellDevProduct"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.astra.ses.spell.dev.DevelopmentEnvironment"
            name="SPELL Development Environment - 2.0">
         <property
               name="windowImages"
               value="images/spell16.gif,images/spell32.gif,images/spell48.gif,images/spell64.gif,images/spell128.gif">
         </property>
         <property
               name="aboutText"
               value="SES Procedure Execution Language and Library &#x0A;Graphical SPELL Procedures IDE &quot;SPELL-DEV&quot;&#x0A;&#x0A;This is a copyrighted work of SES Engineering in collaboration with GMV Aerospace And Defence S.A. &#x0A;(c) 2007,2008,2009">
         </property>
         <property
               name="aboutImage"
               value="eclipse_lg.gif">
         </property>
         <property
               name="startupForegroundColor"
               value="FFFFFF">
         </property>
         <property
               name="startupProgressRect"
               value="0,315,380,15">
         </property>
         <property
               name="startupMessageRect"
               value="7,290,380,20">
         </property>
         <property
               name="appName"
               value="SPELL Development Environment - 2.0">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         id="com.astra.ses.spell.dev.DevelopmentEnvironment"
         name="SPELL Development Environment"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            icon="images/spell32.gif"
            thread="main"
            visible="true">
         <run
               class="com.astra.ses.spell.dev.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.astra.ses.spell.dev.properties.FalseProperty"
            id="com.astra.ses.spell.dev.false"
            namespace="com.astra.ses.spell.dev"
            properties="false"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="com.astra.ses.spell.dev.properties.SpellPerspectivePropertyTester"
            id="com.astra.ses.spell.dev.spellperspective"
            namespace="com.astra.ses.spell.dev.perspective"
            properties="spell"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="com.astra.ses.spell.dev.properties.WorkspacePropertyTester"
            id="com.astra.ses.spell.dev.properties.workspace"
            namespace="com.astra.ses.spell.dev.properties.workspace"
            properties="is_package, is_source_folder, is_package_definition_file, has_spell_nature"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Set python intrepreter at startup"
            id="com.astra.ses.spell.dev.command.setpythoninterpreter"
            name="Set Python interpreter">
      </command>
      <command
            id="com.astra.ses.spell.dev.views.explorer.getSelection"
            name="Get Procedure Explorer selection">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.astra.ses.spell.dev.startup.SetPythonInterpreterCommand"
            commandId="com.astra.ses.spell.dev.command.setpythoninterpreter">
      </handler>
      <handler
            class="com.astra.ses.spell.dev.commands.GetExplorerSelection"
            commandId="com.astra.ses.spell.dev.views.explorer.getSelection">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.astra.ses.spell.dev.perspective.DevelopmentPerspective"
            fixed="false"
            icon="images/spell16.gif"
            id="com.astra.ses.spell.dev.perspective.development"
            name="SPELL">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.astra.ses.spell.dev.wizards"
            name="SPELL">
      </category>
      <wizard
            canFinishEarly="false"
            category="com.astra.ses.spell.dev.wizards"
            class="com.astra.ses.spell.dev.wizards.ProcedureSuiteWizard"
            finalPerspective="com.astra.ses.spell.dev.perspective.development"
            icon="images/spell16.gif"
            id="com.astra.ses.spell.dev.wizard.newproject"
            name="SPELL project"
            preferredPerspectives="com.astra.ses.spell.dev.perspective.development"
            project="true">
      </wizard>
      <wizard
            canFinishEarly="false"
            category="com.astra.ses.spell.dev.wizards"
            class="com.astra.ses.spell.dev.wizards.SourceFolderWizard"
            finalPerspective="com.astra.ses.spell.dev.perspective.development"
            hasPages="true"
            icon="images/resources/sourcefolder.gif"
            id="com.astra.ses.spell.dev.wizard.newsourcefolder"
            name="Source folder"
            preferredPerspectives="com.astra.ses.spell.dev.perspective.development"
            project="false">
      </wizard>
      <wizard
            canFinishEarly="false"
            category="com.astra.ses.spell.dev.wizards"
            class="com.astra.ses.spell.dev.wizards.PackageWizard"
            finalPerspective="com.astra.ses.spell.dev.perspective.development"
            hasPages="true"
            icon="images/resources/package.gif"
            id="com.astra.ses.spell.dev.wizard.newpackage"
            name="Package"
            preferredPerspectives="com.astra.ses.spell.dev.perspective.development"
            project="false">
      </wizard>
      <wizard
            canFinishEarly="false"
            category="com.astra.ses.spell.dev.wizards"
            class="com.astra.ses.spell.dev.wizards.ProcedureWizard"
            finalPerspective="com.astra.ses.spell.dev.perspective.development"
            hasPages="true"
            icon="images/resources/procedure.png"
            id="com.astra.ses.spell.dev.wizard.newprocedure"
            name="Procedure"
            preferredPerspectives="com.astra.ses.spell.dev.perspective.development"
            project="false">
      </wizard>
   </extension>
   <extension
         id="com.astra.ses.spell.dev.SpellNature"
         name="Spell Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.astra.ses.spell.dev.resources.nature.SpellNature">
         </run>
      </runtime>
      <builder
            id="com.astra.ses.spell.dev.SpellProjectBuilder">
      </builder>
   </extension>
   <extension
         id="com.astra.ses.spell.dev.SpellProjectBuilder"
         name="Spell Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="false"
            hasNature="true"
            isConfigurable="true">
         <run
               class="com.astra.ses.spell.dev.resources.builder.SpellProjectBuilder">
         </run>
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.astra.ses.spell.dev.workspace.SpellWorkspaceManager">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.astra.ses.spell.dev.views"
            name="SPELL">
      </category>
      <view
            allowMultiple="false"
            category="com.astra.ses.spell.dev.views"
            class="com.astra.ses.spell.dev.views.ProcedureExplorerView"
            icon="images/folder_explore.png"
            id="com.astra.ses.spell.dev.views.explorer"
            name="Procedure explorer"
            restorable="true">
         <description>
            Procedure explorer shows SPELL resources such as Projects and procedures, and allows user to open them in order to see and edit their contents
         </description>
      </view>
   </extension>
   <extension-point id="com.astra.ses.spell.dev.workspace.SpellContextListener" name="Workspace Changes Listener" schema="schema/com.astra.ses.spell.dev.context.SpellContextListener.exsd"/>
   <extension-point id="com.astra.ses.spell.dev.workspace.ProcedureCreationExtension" name="Procedure creation extension" schema="schema/com.astra.ses.spell.dev.workspace.ProcedureCreationExtension.exsd"/>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonFilter
            activeByDefault="true"
            description="Show only projects which have SPELL nature"
            id="com.astra.ses.spell.dev.views.explorer.filters.spellnature"
            name="Only SPELL projects">
         <filterExpression>
            <and>
               <not>
                  <test
                        args="com.astra.ses.spell.dev.SpellNature"
                        property="org.eclipse.core.resources.projectNature"
                        value="com.astra.ses.spell.dev.SpellNature">
                  </test>
               </not>
               <test
                     property="org.eclipse.core.resources.open">
               </test>
            </and>
         </filterExpression>
      </commonFilter>
      <commonFilter
            activeByDefault="true"
            description="Hide packages&apos; declaration file"
            id="com.astra.ses.spell.dev.views.explorer.filters.package"
            name="Package declaration file (__init__.py)">
         <filterExpression>
            <adapt
                  type="org.eclipse.core.resources.IFile">
               <test
                     args="__init__.py"
                     property="org.eclipse.core.resources.name"
                     value="__init__.py">
               </test>
            </adapt>
         </filterExpression>
      </commonFilter>
      <navigatorContent
            activeByDefault="true"
            contentProvider="com.astra.ses.spell.dev.views.explorer.contents.ProcedureExplorerContentProvider"
            icon="images/spell16.gif"
            id="com.astra.ses.spell.dev.views.explorer.spellcontent"
            labelProvider="com.astra.ses.spell.dev.views.explorer.contents.ProcedureExplorerLabelProvider"
            name="SPELL content"
            priority="highest">
         <enablement>
            <and>
               <not>
                  <instanceof
                        value="org.eclipse.core.resources.IWorkspaceRoot">
                  </instanceof>
               </not>
               <adapt
                     type="org.eclipse.core.resources.IResource">
                  <test
                        property="com.astra.ses.spell.dev.properties.workspace.has_spell_nature"
                        value="true">
                  </test>
               </adapt>
            </and>
         </enablement>
         <override
               policy="InvokeAlwaysRegardlessOfSuppressedExt"
               suppressedExtensionId="org.eclipse.ui.navigator.resourceContent">
         </override>
         <commonWizard
               menuGroupId="com.astra.ses.spell.views.explorer.newwizards"
               type="new"
               wizardId="com.astra.ses.spell.dev.wizard.newprocedure">
            <enablement>
               <adapt
                     type="org.eclipse.core.resources.IFolder">
                  <or>
                     <test
                           property="com.astra.ses.spell.dev.properties.workspace.is_package"
                           value="true">
                     </test>
                     <test
                           property="com.astra.ses.spell.dev.properties.workspace.is_source_folder"
                           value="true">
                     </test>
                  </or>
               </adapt></enablement>
         </commonWizard>
         <commonWizard
               menuGroupId="com.astra.ses.spell.views.explorer.newwizards"
               type="new"
               wizardId="com.astra.ses.spell.dev.wizard.newpackage">
            <enablement>
               <adapt
                     type="org.eclipse.core.resources.IFolder">
                  <or>
                     <test
                           property="com.astra.ses.spell.dev.properties.workspace.is_source_folder"
                           value="true">
                     </test>
                     <test
                           property="com.astra.ses.spell.dev.properties.workspace.is_package"
                           value="true">
                     </test>
                  </or>
               </adapt></enablement>
         </commonWizard>
         <commonWizard
               menuGroupId="com.astra.ses.spell.views.explorer.newwizards"
               type="new"
               wizardId="com.astra.ses.spell.dev.wizard.newsourcefolder">
            <enablement>
               <or>
                  <adapt
                        type="org.eclipse.core.resources.IFolder">
                  </adapt>
                  <adapt
                        type="org.eclipse.core.resources.IProject">
                  </adapt>
               </or></enablement>
         </commonWizard>
         <commonWizard
               menuGroupId="com.astra.ses.spell.views.explorer.newwizards"
               type="new"
               wizardId="com.astra.ses.spell.dev.wizard.newproject">
            <enablement>
               <adapt
                     type="org.eclipse.core.resources.IResource">
               </adapt></enablement>
         </commonWizard>
      </navigatorContent>
   </extension>
    <!-- linking the navigator -->
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="com.astra.ses.spell.dev.views.explorer">
      </viewer>
      <viewerContentBinding
            viewerId="com.astra.ses.spell.dev.views.explorer">
         <includes>
            <contentExtension
                  pattern="com.astra.ses.spell.dev.views.explorer.*">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="com.astra.ses.spell.dev.views.explorer.filters.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="com.astra.ses.spell.dev.views.explorer">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.astra.ses.spell.dev.preferences.SpellPythonInterpreterPage"
            id="com.astra.ses.spell.dev.preferences"
            name="Spell">
      </page>
      <page
            category="com.astra.ses.spell.dev.preferences"
            class="com.astra.ses.spell.dev.preferences.SpellCodeStylePage"
            id="com.astra.ses.spell.dev.preferences.spellCodeStyle"
            name="Code styling">
      </page>
      <page
            category="com.astra.ses.spell.dev.preferences"
            class="com.astra.ses.spell.dev.preferences.CodeFoldingPage"
            id="com.astra.ses.spell.dev.preferences.spellCodeFolding"
            name="Code folding">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:window">
         <command
               commandId="org.eclipse.ui.window.resetPerspective"
               id="com.astra.ses.spell.dev.resetPerspective"
               label="Reset perspective"
               mnemonic="Reset perspective"
               style="push"
               tooltip="Reset perspective">
         </command>
         <separator
               name="com.astra.ses.spell.dev.ui.menu.window.sep"
               visible="true">
         </separator>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="org.eclipse.ui.Basic"
            class="org.eclipse.ui.wizards.datatransfer.ExternalProjectImportWizard"
            icon="images/resources/addExternalFolder.png"
            id="com.astra.ses.spell.dev.wizards.import.ExternalProject"
            name="Existing projects into workspace">
            <description>Import an already existing SPELL project into the workspace</description>
      </wizard>
      <wizard
            category="org.eclipse.ui.Basic"
            class="org.eclipse.ui.wizards.datatransfer.FileSystemImportWizard"
            icon="images/resources/import.png"
            id="com.astra.ses.spell.dev.wizards.import.FileSystem"
            name="Import from file system">
         <description>
            Import files and resources from the file system
         </description>
      </wizard>
   </extension>
   <extension
        point="org.eclipse.ui.exportWizards">
        <wizard
		 	name="Resources to file system"
		 	icon="images/resources/export.png"
		 	category="org.eclipse.ui.Basic"
		 	class="org.eclipse.ui.wizards.datatransfer.FileSystemExportWizard"
		 	id="com.astra.spell.dev.wizards.export.FileSystem">
            <description>Export selected resources to the file system</description>
		 	<selection
			 	class="org.eclipse.core.resources.IResource">
		 	</selection>
		 	<keywordReference
			 	id="org.eclipse.ui.ide.project">
		 	</keywordReference>
		</wizard>
   </extension>
</plugin>
